* {
    padding: 0;
    margin: 0;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.block {
    padding: 0 300px;
}

/* header block */
.header {
    margin-top: 25px;
}

.header .nav {
    display: flex;
    justify-content: space-between;
}

.header .nav .item {
    height: 40px;
}

.header .nav .logo {
    cursor: pointer;
    width: 100px;
}

.header .nav .logo img {
    width: 100%;
    height: 100%;
}

.header .search {
    display: flex;
    align-items: center;
    width: 60%;
}

.header .search form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 1px solid #c1c1d4;
    border-radius: 8px;
    overflow: hidden;
}

.header .search form * {
    height: 40px;
    border: none;
}

.header .search form label {
    width: 100%;
}

.header .search form label input {
    padding-left: 10px;
    width: 100%;
}

.header .search form label input:focus {
    outline: none;
}

.header .nav .mic {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.header .nav .mic img {
    height: 100%;
}

.header .nav .findBtn {
    width: 82px;
    font-weight: 600;
    color: #7d7d91;
    border-right: 1px solid #f1f1f9;
}

.header .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .nav .btn-head {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92px;
    height: 40px;
}

.header .nav .btn-head img {
    width: 24px;
    height: 24px;
}

.header .container {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    overflow: hidden;
    height: 400px;
}

.header .container .left-side div:first-child a {
    color: blue;
}

.header .container .left-side div:nth-child(2) a {
    color: blue;
}

.header .container .left-side .item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    max-width: 250px;
}

.header .container .left-side .item:hover {
    padding-left: 10px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    color: white;
    background: purple;
}

.header .container .left-side .item:hover * {
    color: white;
}

.header .container .left-side .item img {
    width: 15px;
    height: 15px;
}

.header .container .carousel {
    width: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.slider-wrapper {
    transition-duration: 0.5s;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.slider-wrapper .img {
    min-width: 100%;
    height: 100%;
}

.slider-wrapper .img img {
    width: 100%;
    height: 100%;
}

.btn {
    cursor: pointer;
    padding: 5px;
    transform: translateY(-50%);
    z-index: 3;
    width: 24px;
    height: 24px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    top: 50%;
    background: white;
}

.btn img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 60%;
    height: 60%;
}

.btn-left {
    left: 10px;
}

.btn-left img {
    transform: translate(-50%, -50%) rotate(180deg);
    position: absolute;
    left: 50%;
    top: 50%;
}

.btn-right {
    right: 10px;
}

.header .container .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    border: 1px solid #c1c1d4;
    border-radius: 8px;
}

.header .container .right-side * {
    font-weight: 700;
    margin: 20px;
}

.header .container .right-side div {
    font-size: 18px;
}

.header .container .right-side button {
    border: 1px solid #7b04df;
    border-radius: 8px;
    background: none;
    padding: 10px;
}

.header .container .right-side button * {
    color: #7b04df;
}

/* main block */
.main {
    background: #f1f1f9;
    margin-top: 25px;
    height: auto;
}

.main h2 {
    padding: 25px 0;
}

.main h3 {
    font-weight: 400;
}

.main h2, .main h3 {
    font-size: 16px;
}

.main .container-item {
    width: 100%;
}

/* most-popular */

.main .most-popular .items {
    overflow: hidden;
    position: relative;
}

.main .most-popular .slider-wrapper {
    grid-gap: 10px;
}

.main .most-popular .items .item {
    width: 330px;
    padding: 15px;
    background: white;
    border-radius: 8px;
}

.main .most-popular .items .item .head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main .most-popular .items .item .head_img {
    border: 1px solid #c1c1d4;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 10px;
}

.main .most-popular .items .item h3 {
    padding-left: 10px;
}

.main .most-popular .items .item .content {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    margin-top: 10px;
    justify-content: space-between;
}

.main .most-popular .items .item .content a:hover {
    text-decoration: underline;
}

.main .most-popular .items .item .content .product_img {
    width: 94px;
    height: 94px;
    border: 1px solid #c1c1d4;
    border-radius: 8px;
}

.main .most-popular .items .item .content .old-price {
    font-size: 12px;
    color: #acacbe;
    text-decoration: line-through;
}

.main .most-popular .items .item .content .sale {
    font-weight: 600;
    color: red;
}

/* hope-you */
.main .hope-you .items .slider-wrapper {
    grid-gap: 20px;
}

.main .hope-you .item {
    width: 120px;
    height: 170px;
}

.main .hope-you .item .product_img {
    width: 120px;
    height: 120px;
}

.main .hope-you .item .product_img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.main .hope-you .item .product_name {
    margin-top: 10px;
    text-align: center;
}
