* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
}

body.no-scroll {
    padding-right: 17px;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
}

.block {
    padding: 0 250px;
}

button {
    cursor: pointer;
}

/* ad */
.ad {
    width: 100%;
    height: 40px;
}

.ad img {
    width: 100%;
    height: 100%;
}

/* nav block */
.nav {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background: white;
    z-index: 88;
}

.nav .item {
    height: 40px;
}

.nav .logo {
    cursor: pointer;
    width: 100px;
    margin-right: 25px;
}

.nav .logo img {
    width: 100%;
    height: 100%;
}

.nav .search {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav .search form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 1px solid #c1c1d4;
    border-radius: 8px;
    overflow: hidden;
}

.nav .search form * {
    border: none;
}

.nav .search form label {
    width: 100%;
}

.nav .search form label input {
    padding-left: 10px;
    width: 100%;
}

.nav .search form label input:focus {
    outline: none;
}

.nav .mic {
    object-fit: cover;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.nav .mic img {
    width: 100%;
    height: 100%;
}

.nav .findBtn {
    width: 82px;
    height: 40px;
    font-weight: 600;
    color: #7d7d91;
    border-right: 1px solid #f1f1f9;
}

.nav .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav .btn-head {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92px;
    height: 40px;
}

.nav .btn-head img {
    width: 24px;
    height: 24px;
}

/* header block */
.header {
    margin-top: 25px;
}

.header .container {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 400px;
}

.header .container .left-side div:first-child a {
    color: #0670eb;
}

.header .container .left-side div:nth-child(2) a {
    color: #0670eb;
}

.header .container .left-side .item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    max-width: 250px;
}

.header .container .left-side .item:hover {
    padding-left: 10px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    color: white;
    background: purple;
}

.header .container .left-side .item:hover * {
    color: white;
}

.header .container .left-side .item img {
    width: 15px;
    height: 15px;
}

.header .container .carousel {
    width: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.slider-wrapper {
    transition-duration: 0.5s;
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-wrapper .img {
    min-width: 100%;
    height: 100%;
}

.slider-wrapper .img img {
    width: 100%;
    height: 100%;
}

.btn {
    cursor: pointer;
    padding: 5px;
    transform: translateY(-50%);
    z-index: 3;
    width: 24px;
    height: 24px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    top: 50%;
    background: white;
}

.btn img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 60%;
    height: 60%;
}

.btn-left {
    left: 10px;
}

.btn-left img {
    transform: translate(-50%, -50%) rotate(180deg);
    position: absolute;
    left: 50%;
    top: 50%;
}

.btn-right {
    right: 10px;
}

.header .container .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    border: 1px solid #c1c1d4;
    border-radius: 8px;
}

.header .container .right-side * {
    font-weight: 700;
    margin: 20px;
}

.header .container .right-side div {
    font-size: 18px;
}

.header .container .right-side button {
    border: 1px solid #7b04df;
    border-radius: 8px;
    background: none;
    padding: 10px;
}

.header .container .right-side button * {
    color: #7b04df;
}

/* main block */
.main {
    background: #f1f1f9;
    margin-top: 25px;
    height: auto;
}

.main h3 {
    font-weight: 400;
}

.main h2, .main h3 {
    font-size: 16px;
}

.main h2:first-child {
    margin-top: 25px;
}

.main .container {
    display: grid;
    grid-gap: 25px;
}

.main .container-item {
    overflow: hidden;
    width: 100%;
}

.main a:hover {
    text-decoration: underline;
}

.main .price {
    font-weight: 600;
}

.main .old-price {
    font-size: 12px;
    color: #acacbe;
    text-decoration: line-through;
}

.main .sale {
    font-weight: 600;
    color: red;
}

/* most-popular */
.main .most-popular .items {
    position: relative;
}

.main .most-popular .slider-wrapper {
    grid-gap: 10px;
}

.main .most-popular .items .item {
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 15px;
    background: white;
    border-radius: 8px;
}

.main .most-popular .items .item .head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main .most-popular .items .item .head_img {
    border: 1px solid #c1c1d4;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    overflow: hidden;
}

.main .most-popular .items .item .head_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.main .most-popular .items .item h3 {
    padding-left: 10px;
}

.main .most-popular .items .item .content {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    margin-top: 10px;
    justify-content: space-between;
}

.main .most-popular .items .item .content .product_img {
    min-width: 94px;
    min-height: 94px;
    max-width: 94px;
    max-height: 94px;
    border: 1px solid #c1c1d4;
    border-radius: 8px;
}

.main .most-popular .items .item .product_name {
    overflow: hidden;
    max-height: 40px;
}

.main .most-popular .items .item .product {
    display: flex;
    flex-direction: column;
}

.main .most-popular .items .item .product .prices {
    margin-top: auto;
}

/* styles for hope-you & most-popular */
.main .most-popular .items .btn-left {
    transform: translate(-200%, 0);
}

.main .most-popular .items .btn-right {
    transform: translate(200%, 0);
}

.main .most-popular .items:hover .btn {
    transform: translate(0, 0);
    transition: 0.3s;
}

.main .hope-you .items .btn-left {
    transform: translate(-200%, 0);
}

.main .hope-you .items .btn-right {
    transform: translate(200%, 0);
}

.main .hope-you .items:hover .btn {
    transform: translate(0, 0);
    transition: 0.3s;
}

/* hope-you */
.main .hope-you .items {
    position: relative;
}

.main .hope-you .items .btn {
    padding: 20px;
}

.main .hope-you .items .slider-wrapper {
    grid-gap: 20px;
}

.main .hope-you .item {
    width: 120px;
    height: 170px;
}

.main .hope-you .item .product_img {
    width: 120px;
    height: 120px;
}

.main .hope-you .item .product_img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.main .hope-you .item .product_name {
    margin-top: 10px;
    text-align: center;
}

/* for-you */
.main .for-you .items {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.main .for-you .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    background: white;
    padding: 10px;
}

.main .for-you .product_img {
    width: 100%;
    height: 165px;
}

.main .for-you .product_name {
    height: 60px;
    padding: 12px 0;
}

.main .for-you .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.main .for-you .buttons button {
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 8px;
    background: #7b04df;
    width: 120px;
    height: 32px;
}

.main .for-you .buttons .like {
    cursor: pointer;
    width: 28px;
    height: 28px;
}

/* show-more button */
.main .show-more {
    font-weight: 700;
    color: #7b04df;
    padding: 10px;
    text-align: center;
    border: 1px solid #7b04df;
    border-radius: 8px;
}

/* fix background */
.main .show-more:hover {
    transition: 0.3s;
}

/* what-find block */
.main .what-find .items {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;
}

.main .what-find .item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    height: 60px;
    background: white;
    border-radius: 8px;
}

.main .what-find .item a {
    padding: 10px;
    color: #0670eb;
}

/* main footer block */
.main .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    background: white;
}

.main .container-footer .img {
    width: 100px;
    height: 100px;
}

.main .container-footer .img img {
    width: 100%;
    height: 100%;
}

.main .container-footer .left-side {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.main .container-footer .left-side h3 {
    font-weight: 700;
}

.main .container-footer .left-side span {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    margin-left: 25px;
}

.main .container-footer .left-side span button {
    border: none;
    border-radius: 8px;
    background: #7b04df;
    color: white;
    width: 120px;
    height: 40px;
}

.main .container-footer .right-side {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    width: 50%;
}

.main .container-footer .right-side a {
    color: #0670eb;
}

/* footer block */
.footer {
    padding-top: 25px;
    background: #f1f1f9;
    width: 100%;
}

.footer * {
    font-size: 16px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .columns {
    display: flex;
    grid-row-gap: 35px;
}

.footer .columns .column {
    width: 330px;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

.footer .footer-bottom {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    grid-gap: 200px;
}

.footer .footer-bottom .item {
    display: flex;
    flex-direction: row;
}

.footer .footer-bottom .qr-code {
    width: 80px;
    height: 80px;
}

.footer .footer-bottom .qr-code img {
    width: 100%;
    height: 100%;
}

.footer .footer-bottom span {
    padding-left: 15px;
}

.footer .footer-bottom .qr-code-text {
    color: #7d7d91;
}

.footer .footer-bottom .language {
    cursor: pointer;
}

.footer .footer-bottom .social-media img {
    width: 24px;
    height: 24px;
}

/* Modals */
.modal-bg {
    display: none;
    position: fixed;
    background-color: #00000080;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.modal-bg.active {
    display: block;
}

.modals .menu {
    /*padding: 20px;*/
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
    transition: 0.3s;
    width: 400px;
    height: 100vh;
    z-index: 100;
}

.modals .menu.open {
    transform: translate(0, 0);
}

.auth {
    width: 100%;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    background: #7b04df;
    opacity: 0.5;
    color: white;
    height: 40px;
}

/* Registry or login */
.login-menu {
    padding: 20px;
}

.login-menu h3 {
    font-size: 14px;
}

.login-menu * {
    width: 100%;
}

.login-menu button {
    margin: 15px 0;
}

.login-menu .registry-or-login {
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    background: #7b04df;
    color: white;
    text-align: center;
    padding: 10px;
}

.login-menu .item {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.login-menu .item .icon {
    width: 24px;
    height: 24px;
}

.login-menu .item span {
    padding-left: 10px;
    cursor: pointer;
}

.login-menu .select-language {
    border-top: solid 1px #7d7d91;
    border-bottom: solid 1px #7d7d91;
}

.login-menu .settings {
    border-top: solid 1px #7d7d91;
    border-bottom: solid 1px #7d7d91;
}

.login-menu .start-selling {
    border-bottom: solid 1px #7d7d91;
}

.login-menu .qr-code {
    display: flex;
    align-items: start;
    background: #f1f1f9;
    padding-left: 15px;
}

.login-menu .qr-code img {
    width: 80px;
    height: 80px;
}

.login-menu .qr-code div > :last-child {
    font-size: 14px;
    color: #7d7d91;
}

/* Authorization */
.login-with-text {
    text-align: center;
}

.login-with {
    display: flex;
    justify-content: center;
    grid-gap: 10px;
}

.login-with .elem {
    border: 1px solid #c1c1d4;
    border-radius: 8px;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.login-with .elem img {
    width: 100%;
    height: 100%;
}

.authorization .head {
    border-top-left-radius: 20px;
    padding: 15px;
    color: white;
    background: #7b04df;
}

.authorization .head .go-back {
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.authorization .head h3 {
    text-align: center;
}

.authorization .items {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    padding: 30px;
}

.authorization .hello {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 48px;
}

.authorization .hello img {
    width: 48px;
    height: 100%;
}

.authorization span {
    font-size: 14px;
    color: #01011b;
}

.authorization form {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.authorization .insert-number {
    font-size: 14px;
    color: #01011b;
}

.authorization .insert-number span {
    color: red;
}

.authorization label input {
    border: 1px solid #c1c1d4;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.authorization .no-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 10px;
    border-bottom: 1px solid #7d7d91;
    padding-bottom: 20px;
}

.authorization .no-profile span {
    color: #7d7d91;
}

.authorization .no-profile div {
    cursor: pointer;
    font-size: 14px;
    color: #0670eb;
}

.authorization .no-profile div:hover {
    text-decoration: underline;
}

.authorization .become-seller {
    font-weight: 700;
    border: 1px solid #7b04df;
    border-radius: 8px;
    color: #7b04df;
    padding: 10px;
}

/* Registration */
.registration .head {
    border-top-left-radius: 20px;
    padding: 15px;
    color: white;
    background: #7b04df;
}

.registration .head .go-back {
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.registration .head h3 {
    text-align: center;
}

.registration .items {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    padding: 30px;
    font-size: 14px;
}

.registration .items h3 {
    font-size: 20px;
}

.registration form {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.registration form label {
    display: flex;
    flex-direction: column;
}

.registration label input {
    border: 1px solid #c1c1d4;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.registration .phone-number span span {
    color: red;
}

.registration .accepts {
    font-size: 12px;
    color: #7d7d91;
}

.registration .accepts a {
    color: blue;
}

.registration .have-profile {
    color: #7d7d91;
}

.registration .have-profile span {
    color: blue;
}

.registration hr {
    color: #7d7d91;
    width: 100%;
}

.registration .users {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.registration .users h3 {
    font-size: 20px;
}
