/* Modals */
.modal-bg {
    display: none;
    position: fixed;
    background-color: #00000080;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.modal-bg.active {
    display: block;
}

.modals .menu {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
    transition: 0.3s;
    width: 400px;
    height: 100vh;
    z-index: 100;
}

.modals .menu.open {
    transform: translate(0, 0);
}

.auth {
    width: 100%;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    background: #7b04df;
    opacity: 0.5;
    color: white;
    height: 40px;
    cursor: not-allowed;
}

/* Registry or login */
.login-menu {
    padding: 20px;
}

.login-menu h3 {
    font-size: 14px;
}

.login-menu * {
    width: 100%;
}

.login-menu button {
    margin: 15px 0;
}

.login-menu .registry-or-login {
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    background: #7b04df;
    color: white;
    text-align: center;
    padding: 10px;
}

.login-menu .item {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.login-menu .item .icon {
    width: 24px;
    height: 24px;
}

.login-menu .item span {
    padding-left: 10px;
    cursor: pointer;
}

.login-menu .select-language {
    border-top: solid 1px #7d7d91;
    border-bottom: solid 1px #7d7d91;
}

.login-menu .settings {
    border-top: solid 1px #7d7d91;
    border-bottom: solid 1px #7d7d91;
}

.login-menu .start-selling {
    border-bottom: solid 1px #7d7d91;
}

.login-menu .qr-code {
    display: flex;
    align-items: start;
    background: #f1f1f9;
    padding-left: 15px;
}

.login-menu .qr-code img {
    width: 80px;
    height: 80px;
}

.login-menu .qr-code div > :last-child {
    font-size: 14px;
    color: #7d7d91;
}

/* Authorization */
.login-with-text {
    text-align: center;
}

.login-with {
    display: flex;
    justify-content: center;
    grid-gap: 10px;
}

.login-with .elem {
    border: 1px solid #c1c1d4;
    border-radius: 8px;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.login-with .elem img {
    width: 100%;
    height: 100%;
}

.authorization .head {
    border-top-left-radius: 20px;
    padding: 15px;
    color: white;
    background: #7b04df;
}

.authorization .head .go-back {
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.authorization .head h3 {
    text-align: center;
}

.authorization .items {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    padding: 30px;
}

.authorization .hello {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 48px;
}

.authorization .hello img {
    width: 48px;
    height: 100%;
}

.authorization span {
    font-size: 14px;
    color: #01011b;
}

.authorization form {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.authorization .insert-number {
    font-size: 14px;
    color: #01011b;
}

.authorization .insert-number span {
    color: red;
}

.authorization label input {
    border: 1px solid #c1c1d4;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.authorization .no-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 10px;
    border-bottom: 1px solid #7d7d91;
    padding-bottom: 20px;
}

.authorization .no-profile span {
    color: #7d7d91;
}

.authorization .no-profile div {
    cursor: pointer;
    font-size: 14px;
    color: #0670eb;
}

.authorization .no-profile div:hover {
    text-decoration: underline;
}

.authorization .become-seller {
    font-weight: 700;
    border: 1px solid #7b04df;
    border-radius: 8px;
    color: #7b04df;
    padding: 10px;
    background: white;
}

.authorization .become-seller:hover {
    background: #f1f1f9;
}

/* Registration */
.registration .head {
    border-top-left-radius: 20px;
    padding: 15px;
    color: white;
    background: #7b04df;
}

.registration .head .go-back {
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.registration .head h3 {
    text-align: center;
}

.registration .items {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    padding: 30px;
    font-size: 14px;
}

.registration .items h3 {
    font-size: 20px;
}

.registration form {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.registration form label {
    display: flex;
    flex-direction: column;
}

.registration label input {
    border: 1px solid #c1c1d4;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.registration .phone-number span span {
    color: red;
}

.registration .receive-checkbox {
    display: flex;
    flex-direction: row;
}

.registration .receive-checkbox label {
    padding-left: 5px;
}

.registration .accepts {
    font-size: 12px;
    color: #7d7d91;
}

.registration .accepts a {
    color: #0670eb;
}

.registration .have-profile {
    color: #7d7d91;
}

.registration .have-profile span {
    cursor: pointer;
    color: #0670eb;
}

.registration .have-profile span:hover {
    text-decoration: underline;
}

.registration hr {
    color: #7d7d91;
    width: 100%;
}

.registration .users {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.registration .users h3 {
    font-size: 20px;
}
