body, .nav, .nav form input {
    background: #f1f1f9;
}

.header {
    margin-top: 25px;
}

.prices {
    margin-top: 5px;
    height: 40px;
}

.sale {
    color: red;
    font-weight: 600;
}

.old-price {
    font-size: 12px;
    color: #acacbe;
    text-decoration: line-through;
}

.category-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.category-nav .item a {
    color: blue;
    text-decoration: none;
}

.category-nav .item a:hover {
    text-decoration: underline;
}

.category-nav .arrow {
    width: 14px;
    height: 12px;
    cursor: default;
}

.category-nav .arrow img {
    display: flex;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

.main .container .item {
    background: white;
    border: none;
    border-radius: 8px;
}

.main .container .item-margin {
    margin-top: 10px;
}

.about-product {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

.characteristics {
    width: 810px;
}

.characteristics .characteristics-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.characteristics .characteristics-img img {
    width: 500px;
    height: 100%;
}

.characteristics .about-product {
    padding: 15px;
}

.characteristics .main-characteristics {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    width: 100%;
    height: 191px;
}

.characteristics .main-characteristics .title {
    font-weight: 600;
    padding-top: 15px;
}

.characteristics .main-characteristics div {
    display: flex;
    justify-content: space-between;
    width: 250px;
    color: #7d7d91;
}

.characteristics .main-characteristics button, .about-product .description button {
    font-weight: 600;
    color: black;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    border: 1px solid #7d7d91;
    border-radius: 8px;
    background: white;
}

.characteristics .main-characteristics button:hover, .about-product .description button:hover {
    background: #f1f1f9;
    transition: 0.3s;
}

.about-product .description {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    width: 100%;
}

.about-product .description span {
    font-size: 14px;
    overflow: hidden;
    display: block;
    height: 53px;
}

.main .product-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 585px;
    padding: 15px;
}

.main .product-info .head {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.main .product-info .head > :last-child {
    margin-left: auto;
    margin-right: 0;
}

.main .product-info .product_name {
    font-weight: 600;
    font-size: 22px;
}

.main .product-info .like {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #f1f1f9;
}

.main .product-info .like img {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.main .product-info .delivery-status .ready {
    color: #188711;
}

.main .product-info .delivery-status .not-ready {
    color: #de0404;
}

.main .product-info .price, .main .product-info .sale {
    font-weight: 700;
    font-size: 28px;
}

.main .product-info .sale {
    color: #de0404;
}

.main .product-info .old-price {
    font-size: 14px;
    color: #acacbe;
    text-decoration: line-through;
}

.main .product-info .buttons {
    display: flex;
    gap: 15px;
}

.main .product-info .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 240px;
    height: 40px;
}

.main .product-info .buttons img {
    width: 20px;
    height: 20px;
}

.main .product-info .buttons span {
    font-weight: 700;
}

.main .product-info .buttons > :first-child {
    border: 1px solid #7b04df;
    border-radius: 8px;
    background: #7b04df;
    color: white;
}

.main .product-info .buttons > :last-child {
    border: 1px solid #7b04df;
    border-radius: 8px;
    background: white;
    color: #7b04df;
}

.main .product-info .seller {
    display: flex;
    align-items: center;
}

.main .product-info .seller:hover {
    text-decoration: underline;
}

.main .product-info .seller img {
    width: 14px;
    height: 12px;
}

.main .cards {
    padding: 15px;
    width: 220px;
    display: flex;
    flex-direction: column;
}

.main .cards span {
    font-size: 14px;
    font-weight: 700;
}

.main .cards img {
    width: 200px;
    height: 40px;
}

.main .delivery {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.main .delivery h2 {
    font-size: 18px;
}

.main .delivery .delivery-service {
    display: flex;
    align-content: center;
    gap: 10px;
}

.main .delivery .delivery-service img {
    width: 24px;
    height: 24px;
}

.main .delivery .see-all {
    font-weight: 700;
    border: 1px solid #f1f1f9;
    border-radius: 8px;
    background: white;
    width: 100%;
    height: 40px;
}

.main .delivery .see-all:hover {
    transition: 0.3s;
    background: #f1f1f9;
}

.main .about-seller {
    display: flex;
    grid-gap: 5px;
    flex-direction: column;
    padding: 15px;
}

.main .about-seller .head {
    display: flex;
    grid-gap: 10px;
}

.main .about-seller .head h2 {
    font-size: 16px;
}

.main .about-seller .head .seller-img {
    width: 50px;
    height: 50px;
}

.main .about-seller .head .seller-img img {
    border: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.main .about-seller .head .seller-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2px;
}

.main .about-seller .seller-data {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.main .about-seller .seller-data > * {
    display: flex;
    flex-direction: row;
}

.main .about-seller .seller-data > :first-child {
    grid-gap: 10px;
}

.main .about-seller .seller-data > :last-child {
    justify-content: space-between;
}

.main .about-seller .seller-data > :last-child .item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: #e8e8f3;
    border-radius: 30px;
    height: 32px;
    overflow: hidden;
}

/* Another products */
.another-products {
    margin-top: 50px;
    padding: 0 250px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.another-products .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    background: white;
    padding: 10px;
}

.another-products .item a {
    cursor: pointer;
}

.another-products .item a:hover {
    text-decoration: underline;
}

.another-products .product_img {
    width: 100%;
    height: 165px;
}

.another-products .product_name {
    height: 60px;
    padding: 12px 0;
}

.another-products .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.another-products .buttons button {
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 8px;
    background: #7b04df;
    width: 120px;
    height: 32px;
}

.another-products .buttons .like {
    cursor: pointer;
    width: 22px;
    height: 22px;
}

.show-more {
    margin: 20px 0;
    width: 100%;
    font-weight: 700;
    color: #7b04df;
    padding: 10px;
    text-align: center;
    border: 1px solid #7b04df;
    border-radius: 8px;
}
