* {
    font-size: 16px;
}

body {
    background: #f4f4f9;
}

.nav {
    background: #f4f4f9;
}

.category-nav {
    display: flex;
    align-items: center;
    gap: 10px;

    .item {
        a {
            color: blue;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .arrow {
        width: 14px;
        height: 12px;
        cursor: default;

        img {
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
}

.main {
    .content {
        margin-top: 15px;
        .filters {
            display: flex;
            align-items: center;
            grid-gap: 10px;

            button {
                border: none;
                padding: 10px;
                border-radius: 10px;
            }

            .filters-1 {
                border-radius: 10px;
                background: #DADAE8;

                button {
                    color: #7D7D91;
                    background: none;
                    border: none;

                    &.active {
                        transition: 0.4s;
                        color: #01011b;
                        background: white;
                        border: 1px solid #DADAE8;
                    }
                }
            }

            .sex, .type, .season {
                border: none;
                background: white;
            }
        }

        .container {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 22% auto;
            grid-gap: 10px;

            .left-side {
                display: flex;
                flex-direction: column;
                grid-gap: 25px;
                padding: 20px;
                height: auto;
                max-height: 400px;
                background: white;
                overflow-y: auto;

                .rate-filters {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: none;
                    border: none;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }

                .pay-method {
                    height: 80px;
                    border: 1px solid #DADAE8;
                    border-radius: 10px;
                    padding: 5px 10px;

                    img {
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                }

                .filters-2 {
                    display: flex;
                    flex-direction: column;
                    grid-gap: 10px;

                    .filter-parent {
                        display: flex;
                        grid-gap: 10px;
                    }

                    .filter {
                        background: none;
                        max-width: 120px;
                        text-align: center;
                        padding: 10px 15px;
                        border: 1px solid #DADAE8;
                        border-radius: 10px;
                    }
                }

                .filters-price {
                    span {
                        font-weight: 700;
                    }

                    .price {
                        color: #7d7d91;
                        background: none;
                        margin-top: 20px;
                        width: 100px;
                        border: 1px solid #DADAE8;
                        border-radius: 10px;
                        padding: 5px 10px;
                        text-align: left;
                    }

                    .submit {
                        color: white;
                        background: #7b04df;
                        border: none;
                        border-radius: 10px;
                        padding: 5px 10px;
                    }
                }
            }

            .products {
                display: grid;
                grid-template-columns: repeat(4, auto);
                justify-content: space-between;
                grid-gap: 10px;

                .product {
                    padding: 0 15px;
                    padding-bottom: 10px;
                    background: white;

                    .product-img {
                        padding: 0 10px;
                        width: 100%;
                        height: 250px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .status {
                        color: green;
                        padding: 10px 0;
                    }

                    .prices {
                        padding: 10px 0;

                        .price {
                            font-weight: 600;
                        }

                        .old-price {
                            font-size: 12px;
                            color: #acacbe;
                            text-decoration: line-through;
                        }

                        .sale {
                            font-weight: 600;
                            color: #de0404;
                        }
                    }

                    .buttons {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .buy {
                            font-weight: 600;
                            border: none;
                            border-radius: 10px;
                            background: #7b04df;
                            color: white;
                            width: 170px;
                            padding: 5px 10px;
                        }

                        .like {
                            border: none;
                            background: none;
                            width: 35px;
                            height: 35px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .seller {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
