/* Modals */
.modal-bg {
    display: none;
    position: fixed;
    background-color: #00000080;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;

    &.active {
        display: block;
    }
}

.modals {
    .login-with-text {
        text-align: center;
    }

    .login-with {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 20px;

        .elem {
            cursor: pointer;
            width: 44px;
            height: 44px;
            border: 1px solid #7d7d91;
            border-radius: 8px;

            img {
                width: 100%;
                height: 100%;
                padding: 8px;
            }

            &:hover {
                img {
                    padding: 6px;
                }

                border: 2px solid #7b04df;
            }
        }
    }

    .menu {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        background: white;
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(100%, 0);
        transition: 0.3s;
        width: 400px;
        height: 100vh;
        z-index: 100;

        &.open {
            transform: translate(0, 0);
        }
    }

    .auth {
        width: 100%;
        border: none;
        border-radius: 8px;
        font-weight: 700;
        background: #7b04df;
        opacity: 0.5;
        color: white;
        height: 40px;
        cursor: not-allowed;
    }

    /* Registry or login */
    .login-menu {
        padding: 20px;

        h3 {
            font-size: 14px;
        }

        * {
            width: 100%;
        }

        button {
            margin: 15px 0;
        }

        .registry-or-login {
            border: none;
            border-radius: 8px;
            font-weight: 700;
            font-size: 14px;
            background: #7b04df;
            color: white;
            text-align: center;
            padding: 10px;
        }

        .item {
            display: flex;
            align-items: center;
            padding: 15px 0;

            .icon {
                width: 24px;
                height: 24px;
            }

            span {
                padding-left: 10px;
                cursor: pointer;
            }
        }

        .select-language,
        .settings {
            border-top: solid 1px #7d7d91;
            border-bottom: solid 1px #7d7d91;
        }

        .start-selling {
            border-bottom: solid 1px #7d7d91;
        }

        .qr-code {
            display: flex;
            align-items: start;
            background: #f1f1f9;
            padding-left: 15px;

            img {
                width: 80px;
                height: 80px;
            }

            div > :last-child {
                font-size: 14px;
                color: #7d7d91;
            }
        }
    }

    .authorization, .registration {
        .errors.red {
            color: red;
        }

        .errors.green {
            color: #188711;
        }
    }

    /* Authorization */
    .authorization {
        .head {
            border-top-left-radius: 20px;
            padding: 15px;
            color: white;
            background: #7b04df;

            .go-back {
                position: absolute;
                cursor: pointer;
                width: 24px;
                height: 24px;
            }

            h3 {
                text-align: center;
            }
        }

        .items {
            display: flex;
            flex-direction: column;
            grid-gap: 15px;
            padding: 30px;
        }

        .hello {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 48px;

            img {
                width: 48px;
                height: 100%;
            }
        }

        span {
            font-size: 14px;
            color: #01011b;
        }

        form {
            display: flex;
            flex-direction: column;
            grid-gap: 10px;
        }

        .insert-number {
            font-size: 14px;
            color: #01011b;

            span {
                color: red;
            }
        }

        label {
            display: flex;
            flex-direction: column;
            grid-gap: 15px;

            input {
                border: 1px solid #c1c1d4;
                border-radius: 8px;
                padding: 10px;
                width: 100%;
            }
        }

        .no-profile {
            display: flex;
            flex-direction: row;
            align-items: center;
            grid-gap: 10px;
            border-bottom: 1px solid #7d7d91;
            padding-bottom: 20px;

            span {
                color: #7d7d91;
            }

            div {
                cursor: pointer;
                font-size: 14px;
                color: #0670eb;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .become-seller {
            font-weight: 700;
            border: 1px solid #7b04df;
            border-radius: 8px;
            color: #7b04df;
            padding: 10px;
            background: white;

            &:hover {
                background: #f1f1f9;
            }
        }
    }

    /* Registration */
    .registration {
        .head {
            border-top-left-radius: 20px;
            padding: 15px;
            color: white;
            background: #7b04df;

            .go-back {
                position: absolute;
                cursor: pointer;
                width: 24px;
                height: 24px;
            }

            h3 {
                text-align: center;
            }
        }

        .items {
            display: flex;
            flex-direction: column;
            grid-gap: 15px;
            padding: 30px;
            font-size: 14px;

            h3 {
                font-size: 20px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            grid-gap: 10px;
        }

        label {
            display: flex;
            flex-direction: column;
        }

        label input {
            border: 1px solid #c1c1d4;
            border-radius: 8px;
            padding: 10px;
            width: 100%;
        }

        .phone-number span span {
            color: red;
        }

        .receive-checkbox {
            display: flex;
            flex-direction: row;

            label {
                padding-left: 5px;
            }
        }

        .accepts {
            font-size: 12px;
            color: #7d7d91;

            a {
                color: #0670eb;
            }
        }

        .have-profile {
            color: #7d7d91;

            span {
                cursor: pointer;
                color: #0670eb;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        hr {
            color: #7d7d91;
            width: 100%;
        }

        .users {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            padding: 30px;

            h3 {
                font-size: 20px;
            }
        }
    }
}
